.highlight {
  background: #ffffff;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Literal.Number */
  /* Literal.String */
  /* Text.Whitespace */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
.highlight .c {
  color: #999999;
  font-style: italic;
}
.highlight .err {
  color: #ffffff;
  background-color: #c82829;
}
.highlight .k {
  color: #8959a8;
  font-weight: bold;
}
.highlight .l {
  color: #999999;
}
.highlight .n {
  color: #666969;
}
.highlight .o {
  font-weight: bold;
}
.highlight .m {
  color: #f5871f;
}
.highlight .s {
  color: #718c00;
}
.highlight .w {
  color: #4d4d4c;
}
.highlight .cm {
  color: #999999;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999999;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #ffffff;
  background-color: #c82829;
}
.highlight .gd .x {
  color: #ffffff;
  background-color: #c82829;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #c82829;
}
.highlight .gh {
  color: #718c00;
}
.highlight .gi {
  color: #ffffff;
  background-color: #718c00;
}
.highlight .gi .x {
  color: #ffffff;
  background-color: #718c00;
}
.highlight .go {
  color: #4d4d4c;
}
.highlight .gp {
  color: #4d4d4c;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #718c00;
}
.highlight .gt {
  color: #718c00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #f5871f;
  font-weight: bold;
}
.highlight .na {
  color: #f5871f;
}
.highlight .nb {
  color: #4271ae;
}
.highlight .nc {
  color: #eab700;
  font-weight: bold;
}
.highlight .no {
  color: #c82829;
}
.highlight .ni {
  color: #c82829;
}
.highlight .ne {
  color: #8959a8;
  font-weight: bold;
}
.highlight .nf {
  color: #4271ae;
  font-weight: bold;
}
.highlight .nn {
  color: #666969;
}
.highlight .nt {
  color: #c82829;
}
.highlight .nv {
  color: #c82829;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .mf {
  color: #f5871f;
}
.highlight .mh {
  color: #f5871f;
}
.highlight .mi {
  color: #f5871f;
}
.highlight .mo {
  color: #f5871f;
}
.highlight .sb {
  color: #c82829;
}
.highlight .sc {
  color: #718c00;
}
.highlight .sd {
  color: #718c00;
}
.highlight .s2 {
  color: #718c00;
}
.highlight .se {
  color: #f5871f;
}
.highlight .sh {
  color: #f5871f;
}
.highlight .si {
  color: #f5871f;
}
.highlight .sx {
  color: #f5871f;
}
.highlight .sr {
  color: #c82829;
}
.highlight .s1 {
  color: #718c00;
}
.highlight .ss {
  color: #f5871f;
}
.highlight .bp {
  color: #c82829;
}
.highlight .vc {
  color: #718c00;
}
.highlight .vg {
  color: #c82829;
}
.highlight .vi {
  color: #c82829;
}
.highlight .il {
  color: #f5871f;
}
