// @import "bootstrap3/bootstrap.less";
@import "bootstrap311/bootstrap.less";

/* Body padding adjustment for navbar */
body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("../img/brillant.png");
}

@font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 900px;

    & > hr {
        margin: 30px 0;
    }
}

.navbar-right {
    margin-right: 15px;

    #ssl_warning_btn {
        // -moz-animation-duration: 3s;
        -moz-animation-iteration-count: infinite;
        // -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
    }
}

.messages-container {
    margin-top: 20px;
}

/* Main container message and button */
.jumbotron {
    margin: 60px 0;
    text-align: center;

    h1 {
        font-size: 72px;
        line-height: 1;
    }

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

.form-center {
    float: none;
    text-align: center;
}

.checkbox-lg {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

.tooltip-label a {
    text-decoration: none;
    color: #333;
    border-bottom: 1px dashed #999;

    &:hover {
        border-bottom: 1px dashed #333;
    }
}

// TABLE
.table {
    td, th {
        vertical-align: middle;
    }

    .form-group, input, select {
        margin: 0;
    }
}

// thead, tfoot {
//     background: lighten(#000, 95%);
// }

table.table-mapping {
    background-color: #fff;

    input.oa-field {
        font-family: @font-family-monospace;
    }
}

tfoot {
    font-weight: bold;
    color: lighten(#000, 50%);
}

// Error code form
.form-error-search {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-error-search h2,
.form-error-search input {
    margin-bottom: 10px;
}
.form-error-search .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button-center {
    text-align: center !important;
    vertical-align: middle !important;
}


/* Fancy Checkbox */
.fancycheckbox {
    width: 20px;
    margin: 0 auto;
    position: relative;

    input[type=checkbox] {
        visibility: hidden;
    }
}

.fancycheckbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 4px;
    margin-top: 7px;

    // **remove fancy styling for now and replace with simple**
    background: #fff;
    border: 1px solid #ccc;
    // -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    //    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    //         box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

    // background: -webkit-linear-gradient(top, @white 0%, @grayLighter 100%);
    //    background: -moz-linear-gradient(top, @white 0%, @grayLighter 100%);
    //     background: -ms-linear-gradient(top, @white 0%, @grayLighter 100%);
    //      background: -o-linear-gradient(top, @white 0%, @grayLighter 100%);
    //         background: linear-gradient(top, @white 0%, @grayLighter 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@white', endColorstr='@grayLighter',GradientType=0 );
}

.fancycheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #049cdb;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.fancycheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.fancycheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.special-label {
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

table.table-modal td {
    vertical-align: middle !important;
}

.highlight pre {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#result-tabs,
#mapping-tabs,
div.field-legend {
    margin-bottom: 30px;
}

p.bg-primary,
p.bg-success,
p.bg-info,
p.bg-warning,
p.bg-danger {
    padding: 15px;
    font-size: 1.2em;
}

.typeahead,
.tt-query,
.tt-hint {
    font-family: @font-family-monospace;
    width: 396px;
    // height: 30px;
    padding: 8px 12px;
    // font-size: 24px;
    // line-height: 30px;
    // border: 2px solid #ccc;
    // -webkit-border-radius: 8px;
    //    -moz-border-radius: 8px;
    //         border-radius: 8px;
    outline: none;
}

.typeahead-header {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
    font-family: @font-family-sans-serif;
    color: @brand-primary;
}

.typeahead {
    background-color: #fff;
}

// .typeahead:focus {
//     border: 2px solid #0097cf;
// }

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    font-family: @font-family-monospace;
    // width: 422px;
    width: 396px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    width: 100%;
    // -webkit-border-radius: 8px;
    //    -moz-border-radius: 8px;
    //         border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    // background-color: #0097cf;
    background-color: @brand-primary;

}

.tt-suggestion p {
    margin: 0;
}

.fancy-input .tt-dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}