// COLOR VARIABLES
@white:   #ffffff;
@dgray:   #666969;
@lgray:    #999999;
@gray:   #4d4d4c;
@red:     #c82829;
@orange:  #f5871f;
@yellow:  #eab700;
@green:   #718c00;
@aqua:    #3e999f;
@blue:    #4271ae;
@purple:  #8959a8;


.highlight  {
    background: @white;
    .c { color: @lgray; font-style: italic } /* Comment */
    .err { color: @white; background-color: @red } /* Error */
    .k { color: @purple; font-weight: bold; } /* Keyword */
    .l { color: @lgray; } /* Literal */
    .n { color: @dgray; } /* Name */
    .o { font-weight: bold; } /* Operator */
    .m { color: @orange; } /* Literal.Number */
    .s { color: @green; } /* Literal.String */
    .w { color: @gray; } /* Text.Whitespace */
    .cm { color: @lgray; font-style: italic; } /* Comment.Multiline */
    .cp { color: @lgray; font-weight: bold; } /* Comment.Preproc */
    .c1 { color: @lgray; font-style: italic; } /* Comment.Single */
    .cs { color: @lgray; font-weight: bold; font-style: italic; } /* Comment.Special */
    .gd { color: @white; background-color: @red; } /* Generic.Deleted */
    .gd .x { color: @white; background-color: @red; } /* Generic.Deleted.Specific */
    .ge { font-style: italic; } /* Generic.Emph */
    .gr { color: @red; } /* Generic.Error */
    .gh { color: @green; } /* Generic.Heading */
    .gi { color: @white; background-color: @green; } /* Generic.Inserted */
    .gi .x { color: @white; background-color: @green; } /* Generic.Inserted.Specific */
    .go { color: @gray; } /* Generic.Output */
    .gp { color: @gray; } /* Generic.Prompt */
    .gs { font-weight: bold; } /* Generic.Strong */
    .gu { color: @green; } /* Generic.Subheading */
    .gt { color: @green; } /* Generic.Traceback */
    .kc { font-weight: bold; } /* Keyword.Constant */
    .kd { font-weight: bold; } /* Keyword.Declaration */
    .kp { font-weight: bold; } /* Keyword.Pseudo */
    .kr { font-weight: bold; } /* Keyword.Reserved */
    .kt { color: @orange; font-weight: bold; } /* Keyword.Type */
    .na { color: @orange; } /* Name.Attribute */
    .nb { color: @blue; } /* Name.Builtin */
    .nc { color: @yellow; font-weight: bold; } /* Name.Class */
    .no { color: @red; } /* Name.Constant */
    .ni { color: @red; } /* Name.Entity */
    .ne { color: @purple; font-weight: bold; } /* Name.Exception */
    .nf { color: @blue; font-weight: bold; } /* Name.Function */
    .nn { color: @dgray; } /* Name.Namespace */
    .nt { color: @red; } /* Name.Tag */
    .nv { color: @red; } /* Name.Variable */
    .ow { font-weight: bold; } /* Operator.Word */
    .mf { color: @orange; } /* Literal.Number.Float */
    .mh { color: @orange; } /* Literal.Number.Hex */
    .mi { color: @orange; } /* Literal.Number.Integer */
    .mo { color: @orange; } /* Literal.Number.Oct */
    .sb { color: @red; } /* Literal.String.Backtick */
    .sc { color: @green; } /* Literal.String.Char */
    .sd { color: @green; } /* Literal.String.Doc */
    .s2 { color: @green; } /* Literal.String.Double */
    .se { color: @orange; } /* Literal.String.Escape */
    .sh { color: @orange; } /* Literal.String.Heredoc */
    .si { color: @orange; } /* Literal.String.Interpol */
    .sx { color: @orange; } /* Literal.String.Other */
    .sr { color: @red; } /* Literal.String.Regex */
    .s1 { color: @green; } /* Literal.String.Single */
    .ss { color: @orange; } /* Literal.String.Symbol */
    .bp { color: @red; } /* Name.Builtin.Pseudo */
    .vc { color: @green; } /* Name.Variable.Class */
    .vg { color: @red; } /* Name.Variable.Global */
    .vi { color: @red; } /* Name.Variable.Instance */
    .il { color: @orange; } /* Literal.Number.Integer.Long */
}