{% extends "base.html" %}

{% load highlight %}
{% load humanize %}

{% block page_title %}
Wizard Beta Results
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center">Wizard Beta <small>Custom Mapping Results</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Import summary</h3>
                </div>
                <div class="panel-body">
                A total of {{ totalrows|intcomma }} row{{ totalrows|pluralize }} w{{ totalrows|pluralize:"as,ere" }} processed
                </div>
                {% if auth_status and res_status %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">
                        Login status: {{ auth_status }}
                    </li>
                    {% for item in res_status %}
                    <li class="list-group-item list-group-item-{{ item.klass}}">{{ item.kode }}</li>
                    {% endfor %}
                    <li class="list-group-item list-group-item-info">
                        You can look up errors using <strong><a href="#" onclick="window.open('{% url error_code %}', 'Error code lookup', 'width=400,height=220,left=500,top=250,location=yes,menubar=no,resizeable=yes', false)">this link</a></strong>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% if detailed_log %}
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="result-tabs">
                <li class="active"><a href="#request" data-toggle="tab">Request</a></li>
                <li><a href="#response" data-toggle="tab">Response</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="request">
                    <div class="col-md-12">
                    {% if pp_safe_req %}
                    {% highlight xml %}
                    {{ pp_safe_req|safe }}
                    {% endhighlight %}
                    <div class="highlight-notes">
                        <p class="text-muted">Passwords and API keys have been obscured for security purposes.</p>
                    </div>
                    {% else %}
                    <p class="text-muted">Unable to retrieve request.</p>
                    {% endif %}
                    </div>
                </div>
                <div class="tab-pane fade" id="response">
                    <div class="col-md-12">
                    {% if pp_safe_res %}
                    {% highlight xml %}
                    {{ pp_safe_res|safe }}
                    {% endhighlight %}
                    <div class="highlight-notes">
                        <p class="text-muted">Passwords and API keys have been obscured for security purposes.</p>
                    </div>
                    {% else %}
                    <p class="text-muted">Unable to retrieve response.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block page_scripts %}
<script src="{{ STATIC_URL }}js/bootstrap3/tab.js"></script>
<script>
$(function() {
    $('#result-tabs a:first').tab('show');
});
</script>
{% endblock page_scripts %}
