{% extends "base.html" %}

{% block page_title %}
Wizard Beta Upload
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header text-center">Wizard Beta <small>Custom File Import</small></h1>
		</div>
	</div>
	<div class="row">
		<form role="form" action="." class="form-horizontal" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<div class="alert error">
				<span class="glyphicon glyphicon-exclamation-sign"></span> {{ error|striptags }}
			</div>
			{% endfor %}
			{% endif %}
			<div class="well well-lg">
				<div class="form-group {% if form.recordtype.errors %}has-error{% endif %}">
					<label class="col-md-2 control-label" for="recordtype">Record type</label>
					<div class="col-md-10">
						{{ form.recordtype }}
						{% if form.recordtype.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.recordtype.errors|striptags }}</span>
						{% endif %}
						<p class="help-block">Additional record types can be added upon request.</p>
					</div>
				</div>
				<div class="form-group {% if form.apimethod.errors %}has-error{% endif %}">
					<label class="col-md-2 control-label" for="apimethod">Import method</label>
					<div class="col-md-10">
						<select id="apimethod" name="apimethod" class="form-control input-lg">
							<option value=""></option>
						</select>
						{% if form.apimethod.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.apimethod.errors|striptags }}</span>
						{% endif %}
						<p class="help-block">The update method requires an <code>id</code> field to be mapped.</p>
					</div>
				</div>
				<div id="fileupload" class="form-group{% if form.csvfile.errors %} has-error{% endif %}">
					<label for="csvfile" class="col-md-2 control-label">File to upload</label>
					<div class="col-md-10">
						{{ form.csvfile }}
						{% if form.csvfile.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.csvfile.errors|striptags }}</span>
						{% endif %}
						<p class="help-block">You must choose a <code>.csv</code> file to import or the form will error.</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-lg btn-block btn-warning">Upload <span class="glyphicon glyphicon-import"></span></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock content %}

{% block page_scripts %}
<script>
$(function() {
	/**
	 * Convert a standard dropdown into a combobox (supports manual
	 * selection and search as you type).
	 */
	$('select#recordtype').combobox();
});

$(function() {
	/**
	 * Send an ajax request to resolve the available apimethods for
	 * the selected recordtype.
	 */
	$('select#recordtype').change(function() {
		var recordtype = $(this).val();
		var url = '/wizard/ajax/recordtype/' + recordtype + '/';
		var options = '<option value="" selected="selected"></option>';
		if (recordtype && recordtype.length > 0) {
			$.getJSON(url, function(apimethods) {
				for (var i = 0; i < apimethods.length; i++) {
					options += '<option value="' + apimethods[i].method + '">' + apimethods[i].method + '</option>';
				}
				$('select#apimethod').html(options);
			});
		} else {
			$('select#apimethod').html(options);
		}
	});
});

$(function() {
    /**
     * Scroll the form to the first error
     * painted on the form. Uses an offet
     * of 80px from the top to account for
     * the navbar element.
     */
	var errorDiv = $('.control-group.has-error:visible').first();
	if (errorDiv.length > 0) {
		var scrollPos = errorDiv.offset().top - 40;
		$(window).scrollTop(scrollPos);
	}
});
</script>
{% endblock page_scripts %}
