{% extends "base.html" %}

{% block page_title %}
Wizard Beta Mapping
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header text-center">Wizard Beta <small>Field Mapping</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="text-center text-muted">{% if csvfile.apimethod == 'Add' %}<span class="text-success">Adding to</span>{% elif csvfile.apimethod == 'Update' %}<span class="text-warning">Modifying</span>{% else %}Importing{% endif %} the <strong><span class="text-primary">{{ csvfile.recordtype }}</span></strong> table using <em>"{{ csvfile.get_filename }}"</em></p>
			<form role="form" action="." class="form-horizontal" method="POST">
				{% csrf_token %}
				{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
				<div class="alert error">
					<span class="glyphicon glyphicon-exclamation-sign"></span> {{ error|striptags }}
				</div>
				{% endfor %}
				{% endif %}
				<div class="well well-lg">
					<div class="form-group {% if form.company.errors %}has-error{% endif %}">
						<label class="col-md-2 control-label" for="login_company">Company</label>
						<div class="col-md-10">
							{{ form.company }}
							{% if form.company.errors %}
							<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.company.errors|striptags }}</span>
							{% endif %}
						</div>
					</div>
					<div class="form-group {% if form.user.errors %}has-error{% endif %}">
						<label class="col-md-2 control-label" for="login_user">Username</label>
						<div class="col-md-10">
							{{ form.user }}
							{% if form.user.errors %}
							<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.user.errors|striptags }}</span>
							{% endif %}
						</div>
					</div>
					<div class="form-group {% if form.password.errors %}has-error{% endif %}">
						<label class="col-md-2 control-label" for="login_password">Password</label>
						<div class="col-md-10">
							{{ form.password }}
							{% if form.password.errors %}
							<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.password.errors|striptags }}</span>
							{% endif %}
						</div>
					</div>
					<div class="form-group {% if form.server.errors %}has-error{% endif %}">
						<label class="col-md-2 control-label" for="login_server">Server</label>
						<div class="col-md-10">
							{{ form.server }}
							{% if form.server.errors %}
							<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.server.errors|striptags }}</span>
							{% endif %}
						</div>
					</div>
				</div>

				<div class="well well-lg">
					{{ formset.management_form }}
					{% if formset.non_form_errors %}
					{% for error in formset.non_form_errors %}
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{{ error|striptags }}
					</div>
					{% endfor %}
					{% endif %}

					<table class="table table-bordered table-mapping">
						<!-- TABLE HEADER :: DO NOT UPDATE -->
						<thead>
							<tr>
								<th class="text-center">Uploaded File Field</th>
								<th class="text-center">Map</th>
								<th class="text-center">NetSuite OpenAir Field</th>
								<th class="text-center">Options</th>
							</tr>
						</thead>
						<!-- TABLE BODY -->
						{% if formset %}
						<tbody>
							{% for form in formset %}

							{% if form.non_field_errors %}
							{% for error in form.non_field_errors %}
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{{ error|striptags }}
							</div>
							{% endfor %}
							{% endif %}

							{% if form.oa_field.errors %}
							<div class="alert alert-danger alert-dismissable form-center">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{{ form.oa_field.errors|striptags }}
							</div>
							{% endif %}

							{% if form.custom_field.errors %}
							<div class="alert alert-danger alert-dismissable form-center">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{{ form.custom_field.errors|striptags }}
							</div>
							{% endif %}

							{% if form.date_format.errors %}
							<div class="alert alert-danger alert-dismissable form-center">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{{ form.date_format.errors|striptags }}
							</div>
							{% endif %}

							{% if form.input_ext_field.errors %}
							<div class="alert alert-danger alert-dismissable form-center">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{{ form.input_ext_field.errors|striptags }}
							</div>
							{% endif %}

							{% if form.input_con_field.errors %}
							<div class="alert alert-danger alert-dismissable form-center">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{{ form.input_con_field.errors|striptags }}
							</div>
							{% endif %}

							<tr>
								<td class="col-md-4">
									{{ form.file_field }}
								</td>
								<td class="col-md-1">
									<div class="fancycheckbox">
										{{ form.map_fields }}
										<label for="{{ form.map_fields.auto_id }}"></label>
									</div>
								</td>
								<td class="">
									<div class="form-group {% if form.oa_field.errors %} has-error{% endif %}">
										<div class="fancy-input">
											{{ form.oa_field }}
										</div>
									</div>
								</td>
								<td class="col-md-1">
									<a data-toggle="modal" href="#{{ form.file_field.auto_id }}-{{ form.file_field.value|slugify }}" class="btn btn-info btn-block options"><span class="glyphicon glyphicon-list"></span></a>

									{% if form.errors %}
									<span class="badge indicator">{{ form.errors|length }}</span>
									{% endif %}

									<div class="modal modal-warning fade" id="{{ form.file_field.auto_id }}-{{ form.file_field.value|slugify }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h3 class="modal-title">Field Options</h3>
												</div>
												<div class="modal-body">
													<p class="text-center text-muted"><em>Set additional options for the file field <span class="text-primary">"{{ form.file_field.value }}"</span></em></p>
													<table class="table table-modal">
														<tbody>
															{% comment %}
															<tr>
																<td class="col-md-2">
																	<div class="form-group{% if form.custom_field.errors %} has-error{% endif %}">
																		<div class="fancycheckbox">
																			{{ form.custom_field }}
																			<label for="{{ form.custom_field.auto_id }}"></label>
																		</div>
																	</div>
																</td>
																<td>
																	<span{% if form.custom_field.errors %} class="text-danger"{% endif %}> Check if this is a database custom field</span>
																</td>
															</tr>
															{% endcomment %}
															<tr>
																<td class="col-md-2">
																	<div class="form-group">
																		<div class="fancycheckbox">
																			{{ form.date_field }}
																			<label for="{{ form.date_field.auto_id }}"></label>
																		</div>
																	</div>
																</td>
																<td>
																	<label class="special-label" for="{{ form.date_field.auto_id }}">Check if this is a date field</label>
																</td>
															</tr>
															<tr>
																<td class="col-md-2"></td>
																<td>
																	<div class="form-group{% if form.date_format.errors %} has-error{% endif %}">
																		{{ form.date_format }}
																		<span class="help-block">Select a date format which matches your date field</span>
																		{% if form.date_format.errors %}
																		<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.date_format.errors|striptags }}</span>
																		{% endif %}
																	</div>
																</td>
															</tr>
															{% comment %}
															<tr>
																<td class="col-md-2">
																	<div class="form-group">
																		<div class="fancycheckbox">
																			{{ form.ext_field }}
																			<label for="{{ form.ext_field.auto_id }}"></label>
																		</div>
																	</div>
																</td>
																<td>Check to lookup an external field in place of internal id</td>
															</tr>
															<tr>
																<td class="col-md-2"></td>
																<td>
																	<div class="form-group{% if form.input_ext_field.errors %} has-error{% endif %}">
																		{{ form.input_ext_field }}
																		<span class="help-block">Provide a database field for external lookup</span>
																		{% if form.input_ext_field.errors %}
																		<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.input_ext_field.errors|striptags }}</span>
																		{% endif %}
																	</div>
																</td>
															</tr>
															<tr>
																<td class="col-md-2">
																	<div class="form-group">
																		<div class="fancycheckbox">
																			{{ form.con_field }}
																			<label for="{{ form.con_field.auto_id }}"></label>
																		</div>
																	</div>
																</td>
																<td>Check to map a constant in place of your file value</td>
															</tr>
															<tr>
																<td class="col-md-2"></td>
																<td>
																	<div class="form-group{% if form.input_con_field.errors %} has-error{% endif %}">
																		{{ form.input_con_field }}
																		<span class="help-block">Provide a value as a constant</span>
																		{% if form.input_con_field.errors %}
																		<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.input_con_field.errors|striptags }}</span>
																		{% endif %}
																	</div>
																</td>
															</tr>
															{% endcomment %}
														</tbody>
													</table>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-lg btn-warning" data-dismiss="modal">Close</button>
												</div>
											</div><!-- /.modal-content -->
										</div><!-- /.modal-dialog -->
									</div><!-- /.modal -->
								</td>
							</tr>
							{% endfor %}
						</tbody>
						{% else %}
						<tbody>
							<tr>
								<td colspan="4">No data to display.</td>
							</tr>
						</tbody>
						{% endif %}
						<tfoot>
							<tr>
								<td colspan="4">
									<p class="text-center text-muted"><span class="glyphicon glyphicon-warning-sign text-danger"></span> custom fields must end in <code>__c</code></p>
									<p class="text-center text-muted"><span class="glyphicon glyphicon-warning-sign text-danger"></span> date fields must have a date format defined</p>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>

				<div class="well well-lg">
					<div class="form-group {% if form.secretkey.errors %}has-error{% endif %}">
						<label class="col-md-2 control-label" for="secretkey">Secret key</label>
						<div class="col-md-10">
							{{ form.secretkey }}
							{% if form.secretkey.errors %}
							<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.secretkey.errors|striptags }}</span>
							{% endif %}
						</div>
					</div>
					<div class="form-group {% if form.detailed_log.errors %}has-error{% endif %}">
						<div class="col-md-offset-2 col-md-10">
							<div class="checkbox">
								<label class="control-label checkbox-lg">
									{{ form.detailed_log }} Display detailed log output on results page
								</label>
								{% if form.detailed_log.errors %}
								<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.detailed_log.errors|striptags }}</span>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-large btn-block btn-success">Execute <span class="glyphicon glyphicon-arrow-right"></span></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

{% block page_scripts %}
<script>
var recently_used = [];

init();
function init() {
    if (!store.enabled) {
        alert('Local storage is not supported by your browser. Please disable "Private Mode", or upgrade to a modern browser');
        return;
    }

    var recently_used_cookie = store.get('csvimport.recently_used');
    recently_used = (recently_used_cookie && recently_used_cookie.length > 0) ? recently_used_cookie : [];

    $('.fancy-input .typeahead').bind('typeahead:selected', function(obj, datum, name) {
    	recently_used.push(datum.value);
    	process_recently_used(recently_used);
    });

    $('.fancy-input .typeahead').blur(function() {
    	recently_used.push($(this).val());
    	process_recently_used(recently_used);
    })
}

function process_recently_used(array_of_values) {
	var new_recently_used = _.uniq(array_of_values),
		new_recently_used_cookie = (new_recently_used && new_recently_used.length > 10) ? new_recently_used.slice(-10) : new_recently_used;
	store.set('csvimport.recently_used', new_recently_used_cookie);
}

$(function() {
	/**
	 * Convert a standard dropdown into a combobox (supports manual
	 * selection and search as you type).
	 */
	$('select#server').combobox();
});

var substringMatcher = function(strs) {
	return function findMatches(q, cb) {
		var matches, substringRegex;

		// an array that will be populated with substring matches
		matches = [];

		// regex used to determine if a string contains the substring `q`
		substrRegex = new RegExp(q, 'i');

		// iterate through the pool of strings and for any string that
		// contains the substring `q`, add it to the `matches` array
		$.each(_.uniq(strs), function(i, str) {
			if (substrRegex.test(str)) {
				// the typeahead jQuery plugin expects suggestions to a
				// JavaScript object, refer to typeahead docs for more info
				matches.push({ value: str });
			}
		});

		cb(matches);
  	};
};

var fields = {{ js_field_list|safe }};

$('.fancy-input .typeahead').typeahead(
	{
		hint: true,
		highlight: true,
		minLength: 1
	},
	{
		name: 'recently_used',
		displayKey: 'value',
		source: substringMatcher(recently_used),
		templates: {
			header: '<h4 class="typeahead-header">Recently used</h4>'
		}
	},
	{
		name: 'fields',
		displayKey: 'value',
		source: substringMatcher(fields),
		templates: {
			header: '<h4 class="typeahead-header">Table fields</h4>'
		}
	}
);

</script>
{% endblock page_scripts %}
