{% extends "base.html" %}

{% block page_title %}
403 - Forbidden
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>Umm.. <span class="text-muted">O.o?</span></h1>
        <p class="lead">You're really not supposed to access that directory.</p>
        <p>It looks like this was the result of either:</p>
        <ul class="list-unstyled">
            <li>a mistyped address</li>
            <li>OR</li>
            <li>misbehavior on your part</li>
        </ul>
    </div>
</div>
{% endblock content %}
