{% extends "base.html" %}

{% block page_title %}
404 - Page not found
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>Page not found <span class="text-muted">:(</span></h1>
        <p class="lead">Sorry, but the page you were trying to view does not exist.</p>
        <p>It looks like this was the result of either:</p>
        <ul class="list-unstyled">
            <li>a mistyped address</li>
            <li>OR</li>
            <li>an out-of-date link</li>
        </ul>
    </div>
</div>
{% endblock content %}
