{% extends "base.html" %}

{% block page_title %}
500 - Server error
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>Oh, boy <span class="text-muted">(+_+)</span></h1>
        <p class="lead">Looks like we made a boo boo. We're really sorry about that.</p>
        <p>If you have time, <a href="mailto:do-not-reply@noteapp.ryancmorrissey.com?subject=[csvimport] - User reported 500 server error">send us an email</a>.</p>
    </div>
</div>
{% endblock content %}
