{% extends "base.html" %}

{% load humanize %}

{% block page_title %}
Administration
{% endblock page_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center">Administration <small>File Management</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <p class="lead">This page contains an archive of previously uploaded files.</p>
                <p class="lead">Files can be reused by clicking on the filename, or they can be deleted by clicking remove.</p>
                <p class="lead">No login information is stored with file - only the file.</p>
                <p class="bg-danger"><strong>Note:</strong> removing a file is irreversible - once you remove it you will need to re-upload it.</p>
            </div>

            <div class="page-header"><h1></h1></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Record Type</th>
                        <th class="col-md-1">Method</th>
                        <th>Created</th>
                        <th class="col-md-2">Action</th>
                    </tr>
                </thead>
                {% if all_files %}
                <tbody>
                    {% for file in all_files %}
                    <tr>
                        <td>
                            <a href="{{ file.get_absolute_url }}"
                                title="View">
                                {{ file.get_filename }}
                            </a>
                        </td>
                        <td>{{ file.recordtype }}</td>
                        <td>{% if file.apimethod == 'Add' %}<span class="text-success">{% elif file.apimethod == 'Update' %}<span class="text-warning">{% else %}<span>{% endif %}{{ file.apimethod }}</span></td>
                        <td title="{{ file.created }}">{{ file.created|naturaltime }}</td>
                        <td>
                            <a href="{{ file.get_delete_url }}" class="btn btn-xs btn-danger btn-block" role="button">
                                <i class="glyphicon glyphicon-trash"></i> Remove
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4"></td>
                        <td>
                            <a href="{% url delete-everything %}" class="btn btn-xs btn-default btn-block" role="button">Remove All</a>
                        </td>
                    </tr>
                </tfoot>
                {% else %}
                <tfoot>
                    <tr>
                        <td colspan="5">No files returned.</th>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}