<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block page_title %}{% endblock page_title %}</title>
    <meta name="description" content="">
    <meta name="author" content="Ryan Morrissey">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico">
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style_beta.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-combobox.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/syntax-tomorrow.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
</head>
<body>
    <!-- START MAIN -->
    <div class="container">
        <!-- START NAVIGATION -->
        {% include "navigation.html" %}
        <!-- END NAVIGATION -->

        <!-- START SSL MODAL -->
        <div class="modal fade" id="ssl_modal" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-center text-danger"><span class="glyphicon glyphicon-warning-sign"></span> WARNING!</h2>
                    </div>
                    <div class="modal-body">
                        <p class="lead text-center">Oops! It looks like you are accessing an insecure version of this site!</p>
                        <br>
                        <p class="lead text-center">Please update your bookmarks to use <strong class="text-success">HTTPS</strong> instead of HTTP.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="ssl_warning_btn" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-lock"></span> Switch to a secure page</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- END SSL MODAL -->

        <!-- BEGIN NOTIFICATIONS -->
        <div class="messages-container">
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">csvimport log output</h3>
                    </div>
                    <table class="table">
                        {% if message.extra_tags == 'servertime' %}
                        <thead>
                            <tr>
                                <th>Current server time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ message|safe }}</td>
                            </tr>
                        </tbody>
                        {% else %}
                        <thead>
                            <tr>
                                <th>Row</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ message|safe }}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
                {% else %}
                <div {% if message.tags %}class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ message.tags|capfirst }}!</strong>
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <!-- END NOTIFICATIONS -->

        <!-- START CONTENT -->
        {% block content %}
        {% endblock content %}
        <!-- END CONTENT -->

        <!-- START FOOTER -->
        {% block page_footer %}
        <hr>
        <footer>
            <p>&copy; 2013 <span class="muted">csvimport wizard</span></p>
        </footer>
        {% endblock page_footer %}
        <!-- END FOOTER -->
    </div>
    <!-- END MAIN -->

<!-- START JAVASCRIPT -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>

<script src="{{ STATIC_URL }}js/bootstrap3/collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap3/transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap3/collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap3/alert.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap3/tooltip.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap3/popover.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap3/modal.js"></script>

<script src="{{ STATIC_URL }}js/libs/bootstrap-fileupload.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap-combobox.js"></script>
<script src="{{ STATIC_URL }}js/libs/typeahead.jquery.js"></script>
<script src="{{ STATIC_URL }}js/libs/store.min.js"></script>

<script src="{{ STATIC_URL }}js/scripts.js"></script>

{% block page_scripts %}
{% endblock page_scripts %}
<!-- END JAVASCRIPT -->

</body>
</html>
