<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Error code lookup</title>
    <meta name="description" content="">
    <meta name="author" content="Ryan Morrissey">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    {% comment %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% endcomment %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style_beta.css">
</head>
<body style="padding:10px 0 0;">
    <!-- START MAIN -->
    <div class="container">
        <form role="form" action="." class="form-error-search" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error|striptags }}
            </div>
            {% endfor %}
            {% endif %}
            {{ form.error_code }}
            <button class="btn btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
        </form>
        <p class="text-center"><a href="#" onclick="window.close()">Close window</a></p>
	</div>
    <!-- END MAIN -->

<!-- START JAVASCRIPT -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.9.1.min.js"><\/script>')</script>
{% comment %}
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-alert.js"></script>
{% endcomment %}

<script src="{{ STATIC_URL }}js/bootstrap3/transition.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap3/alert.js"></script>

</body>
</html>
