<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Error code lookup</title>
    <meta name="description" content="">
    <meta name="author" content="Ryan Morrissey">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    {% comment %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% endcomment %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style_beta.css">
</head>
<body style="padding:10px 0 0;">
    <!-- START MAIN -->
    <div class="container">
        <div class="container-narrow">
            <div class="well well-lg">
    			<p><strong>Error code {{ error_code }}:</strong>&nbsp;&nbsp;{{ error_message|safe }}</p>
            </div>
            <p class="text-center"><a href="#" onclick="window.close()">Close window</a></p>
        </div>
	</div>
</body>
</html>
