{% extends "base.html" %}

{% block page_title %}
FAQ
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header text-center">FAQ <small>Frequently Asked Questions</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						What import types are supported?
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
					Currently supported import types include <strong>Customers</strong>, <strong>Projects</strong> and <strong>Employees</strong>. Example import templates can be downloaded below.</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						Why can't I map my fields?
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
					At this time, custom field mapping is not supported (but I'm working on it!). Only valid fields will be updated as part of your import. Valid fields are as follows: <strong>Customers</strong> - id, name, company, web, email; <strong>Projects</strong> - id, name; <strong>Employee</strong> - id, password, hint.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						My import failed. What next?
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
					Error messages should give you an idea for why an import failed. There is also a <a href="#" onclick="window.open('{% url error_code %}', 'Error code lookup', 'width=400,height=220,left=500,top=250,location=yes,menubar=no,resizeable=yes', false)">look up</a> available for specific error codes.
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 well well-sm">
		    <h1 class="text-center">Import templates</h1>
	    	<ol class="breadcrumb text-center">
	    		<li>
	    			<a href="{{ STATIC_URL }}import_templates/Rename_Customers_2013.xltx"><span class="glyphicon glyphicon-file"></span>Customers</a>
	    		</li>
	    		<li>
	    			<a href="{{ STATIC_URL }}import_templates/Rename_Projects_2013.xltx"><span class="glyphicon glyphicon-file"></span>Projects</a>
	    		</li>
	    		<li>
	    			<a href="{{ STATIC_URL }}import_templates/SRP_Rename_Projects_2013.xltx"><span class="glyphicon glyphicon-file"></span>SRP Projects</a>
	    		</li>
	    		<li>
	    			<a href="{{ STATIC_URL }}import_templates/Trial_Password_Reset_2013.csv"><span class="glyphicon glyphicon-file"></span>Employees</a>
	    		</li>
	    	</ol>
	    </div>
	</div>
</div>
{% endblock content %}

{% block page_scripts %}

{% endblock page_scripts %}
