{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>csvimport wizard</h1>
        <p class="lead">Helping Mac users import CSV data</p>
		<a href="{% url wizard %}" class="btn btn-success btn-lg">Start Wizard</a>
        <a href="{% url wizard-beta-upload %}" class="btn btn-warning btn-lg">Start Wizard Beta</a>
        <a href="{% url faq %}" class="btn btn-info btn-lg">Templates</a>
    </div>
</div>
{% endblock content %}
