{% extends "base.html" %}

{% block page_title %}
Wizard - Import Log
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
	<p class="text-center">
		<small>Need to <a href="#" onclick="window.open('{% url error_code %}', 'Error code lookup', 'width=400,height=220,left=500,top=250,location=yes,menubar=no,resizeable=yes', false)">look up</a> an error code?</small>
	</p>
</div>
{% endblock content %}
