<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navbar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url home %}">csvimport wizard</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="ssl_warning" class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav">
            <li{% if tab == "home" %} class="active"{% endif %}>
                <a href="{% url home %}"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li{% if tab == "wizard" %} class="active"{% endif %}>
                <a href="{% url wizard %}"><span class="glyphicon glyphicon-th-large"></span> Wizard</a>
            </li>
            <li{% if tab == "wizard-beta" %} class="active"{% endif %}>
                <a href="{% url wizard-beta-upload %}"><span class="glyphicon glyphicon-tint"></span> Wizard Beta</a>
            </li>
            <li{% if tab == "faq" %} class="active"{% endif %}>
                <a href="{% url faq %}"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a>
            </li>
            <li{% if tab == "administration" %} class="active"{% endif %}>
                <a href="{% url administration %}"><span class="glyphicon glyphicon-cog"></span> Administration</a>
            </li>
        </ul>
    </div>
</nav>
