{% extends "base.html" %}

{% block page_title %}
Wizard
{% endblock page_title %}

{% block content %}
<div class="container-narrow">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header text-center">Wizard <small>Template Import Form</small></h1>
		</div>
	</div>
	<div class="row">
		<form role="form" action="." class="form-horizontal" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<div class="alert error">
				<span class="glyphicon glyphicon-exclamation-sign"></span> {{ error|striptags }}
			</div>
			{% endfor %}
			{% endif %}
			<!-- START STEP 1 -->
			<div class="well well-lg">
				<div class="form-group{% if form.recordtype.errors %} has-error{% endif %}">
					<label for="recordtype" class="col-md-2 control-label">Record type</label>
					<div class="col-md-10">
						{{ form.recordtype }}
						{% if form.recordtype.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.recordtype.errors|striptags }}</span>
						{% endif %}
					</div>
				</div>
				<!-- END STEP 1 -->

				<!-- START STEP 2 -->
				<div id="fileupload" class="form-group{% if form.csvfile.errors %} has-error{% endif %}">
					<label for="csvfile" class="col-md-2 control-label">Choose file</label>
					<div class="col-md-10">
						{{ form.csvfile }}
						{% if form.csvfile.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.csvfile.errors|striptags }}</span>
						{% endif %}
					</div>
				</div>
				<!-- END STEP 2 -->

				<!-- START STEP 3 -->
				<div class="form-group {% if form.company.errors %}has-error{% endif %}">
					<label class="col-md-2 control-label" for="company">Company</label>
					<div class="col-md-10">
						{{ form.company }}
						{% if form.company.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.company.errors|striptags }}</span>
						{% endif %}
					</div>
				</div>
				<div class="form-group {% if form.user.errors %}has-error{% endif %}">
					<label class="col-md-2 control-label" for="user">Username</label>
					<div class="col-md-10">
						{{ form.user }}
						{% if form.user.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.user.errors|striptags }}</span>
						{% endif %}
					</div>
				</div>
				<div class="form-group {% if form.password.errors %}has-error{% endif %}">
					<label class="col-md-2 control-label" for="password">Password</label>
					<div class="col-md-10">
						{{ form.password }}
						{% if form.password.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.password.errors|striptags }}</span>
						{% endif %}
					</div>
				</div>
				<div class="form-group {% if form.server.errors %}has-error{% endif %}">
					<label class="col-md-2 control-label" for="server">Server</label>
					<div class="col-md-10">
						{{ form.server }}
						{% if form.server.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.server.errors|striptags }}</span>
						{% endif %}
					</div>
				</div>
				<div class="form-group {% if form.secretkey.errors %}has-error{% endif %}">
					<label class="col-md-2 control-label" for="secretkey">Secret key</label>
					<div class="col-md-10">
						{{ form.secretkey }}
						{% if form.secretkey.errors %}
						<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.secretkey.errors|striptags }}</span>
						{% endif %}
					</div>
				</div>
				<!-- END STEP 3 -->

				<!-- START STEP 4 -->
			    <div class="form-group {% if form.confirm.errors %}has-error{% endif %}">
			    	<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							<label class="control-label checkbox-lg">
								{{ form.confirm }} Check to confirm before importing
							</label>
							{% if form.confirm.errors %}
							<span class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ form.confirm.errors|striptags }}</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="form-group">
				    <div class="col-md-offset-2 col-md-10">
						<button type="submit" class="btn btn-lg btn-block btn-success">Execute <span class="glyphicon glyphicon-arrow-right"></span></button>
					</div>
				</div>
				<!-- END STEP 4 -->
			</div>
		</form>
	</div>
</div>
{% endblock content %}

{% block page_scripts %}
<script>
$(document).ready(function() {
    /**
     * Scroll the form to the first error
     * painted on the form. Uses an offet
     * of 80px from the top to account for
     * the navbar element.
     */
	var errorDiv = $('.control-group.has-error:visible').first();
	if (errorDiv.length > 0) {
		var scrollPos = errorDiv.offset().top - 100;
		$(window).scrollTop(scrollPos);
	}

	/**
	 * Hide the file upload form section
	 * unless a valid recordType is selected.
	 */
	var fileUpload = $('#fileupload');

	// This should run on page load using ready()
	recordType = $('#recordtype').prop('value');
	if (recordType == 'project' || recordType == 'customer' || recordType == 'user') {
	    fileUpload.removeClass('hide');
	}
	else {
		fileUpload.addClass('hide');
	}

	// This should run on change() of the dropdown field
	$('#recordtype').change(function() {
		recordType = $(this).prop('value');
		if (recordType == 'project' || recordType == 'customer' || recordType == 'user') {
		    fileUpload.removeClass('hide');
		}
		else {
			fileUpload.addClass('hide');
		}
	});

});
</script>
{% endblock page_scripts %}
